<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEGAL SERVICE PROVIDER REGISTRATION</title>
    <link rel="stylesheet" href="register.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body
    background="https://images.pexels.com/photos/9667826/pexels-photo-9667826.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    {% comment %} <div class="container mt-5"> {% endcomment %}
        <div class="container mt-5">
            <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Registeration For Legal Service Provider</h2>
                <hr>
                {% if messages %}

                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>

                </ul>
                {% endif %}
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xxl-12 mx-auto">
                            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
                                <div class="card-img-left d-none d-md-flex">
                                    <!-- Background image for card set in CSS! -->
                                </div>
                                <div class="card-body p-4 p-sm-5">
                                    <h5 class="card-title text-center mb-5 fw-light fs-5">Register</h5>
                                    <form>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="username" placeholder="myusername" autofocus>
                                            <label for="floatingInputUsername">Username</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="practice_areas" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Practice Areas</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="experience" placeholder="myLastName" autofocus>
                                            <label for="floatingInputUsername">Experience</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="bio" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Bio</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="case_summary" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Case Summary</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="advocate-id" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Advocate Enrollment-id</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="location" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Location</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="state" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">State</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputUsername"
                                                name="languages" placeholder="myFirstName" autofocus>
                                            <label for="floatingInputUsername">Languages</label>
                                        </div>

                                        <!-- {% comment %} <div class="form-floating mb-3"> 
                  <input type="email" class="form-control" id="floatingInputEmail" placeholder="name@example.com">
                  <label for="floatingInputEmail">Email address</label>
                </div>{% endcomment %} -->

                                        <hr>

                                        <div class="form-floating mb-3">
                                            <input type="file" class="form-control" id="floatingPassword"
                                                name="profile-pic" placeholder="Password">
                                            <label for="floatingPassword">Profile pIcture</label>
                                        </div>

                                        <input type="checkbox" id="lawyer" name="islawyer" value="Lawyer">
                                        <label for="vehicle1"> Lawyer</label><br>
                                        <input type="checkbox" id="advocate" name="isadvocate" value="Advocate">
                                        <label for="vehicle2"> Advocate</label><br>
                                        <input type="checkbox" id="arbitrator" name="isarbitrator" value="Arbitrator">
                                        <label for="vehicle3"> Arbitrator</label><br>
                                        <input type="checkbox" id="mediator" name="ismediator" value="Mediator">
                                        <label for="vehicle1"> Mediator</label><br>
                                        <input type="checkbox" id="notaries" name="isnotaries" value="Notaries">
                                        <label for="vehicle2"> Notaries</label><br>
                                        <input type="checkbox" id="document_writer" name="isdocument_writer" value="Document Writer">
                                        <label for="vehicle3"> Document Writer</label><br>

                                        <!-- {% comment %} <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPasswordConfirm" placeholder="Confirm Password">
                  <label for="floatingPasswordConfirm">Confirm Password</label>
                </div> {% endcomment %} -->

                                        <div class="d-grid mb-2">
                                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
                                                type="submit">Register</button>
                                        </div>

                                        <a class="d-block text-center mt-2 small" href="/login/">Have an account? Sign
                                            In</a>

                                        <hr class="my-4">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</body>
<style>
    .card-img-left {
        width: 45%;
        /* Link to your background image using in the property below! */
        background: scroll center url('https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
        background-size: cover;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }
</style>